.app {
  width: 100%;
  height: auto;
  background-color: var(--color-chat);
}

.app__bar {
  z-index: 90;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: auto;
  padding-top: 2rem;
  padding-bottom: 0.75rem;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  background: linear-gradient(to left, var(--color-light-magenta), var(--color-light-violet));
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.app__chat {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}