.bubble {
  height: auto;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  padding: 0.375rem 0.5rem;
  margin-bottom: 0.5rem;
}

.bubble--left {
  align-self: flex-start;
  border-bottom-right-radius: 0.625rem;
  border-bottom-left-radius: 0.25rem;
}

.bubble--right {
  align-self: flex-end;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.625rem;
}

.bubble--small {
  max-width: 8rem;
}

.bubble--large {
  width: 10rem;
}

.bubble--violet {
  background-color: var(--color-bubble-from);
}

.bubble--white {
  background-color: var(--color-white);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.05), 0 4px 6px -4px rgb(0 0 0 / 0.05);
}

.bubble--gradient {
  background: linear-gradient(to right, var(--color-light-magenta), var(--color-light-violet));
}

.bubble--flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.bubble--last {
  margin-bottom: 1rem;
}

.bubble__message {
  font-size: 0.5rem;
  font-weight: 400;
  line-height: 0.6875rem;
}

.bubble__message--violet {
  color: var(--color-moderate-violet);
}

.bubble__message--dark-violet {
  color: var(--color-very-dark-desaturated-violet);
}

.bubble__option {
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
  margin-right: 0.5rem;
}

.bubble__option-input {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.bubble__option-label {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
  border: 0.0625rem solid var(--color-pale-violet);
  cursor: pointer;
}

.bubble__option-input:focus-visible ~
.bubble__option-label {
  outline: none;
  border: 0.0625rem solid var(--color-white);
}

.bubble__option-dot {
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  margin: auto;
  transform: scale(0);
  border-radius: 9999px;
  background-color: var(--color-white);
  transition: transform 150ms;
}

.bubble__option-input:checked ~
.bubble__option-label >
.bubble__option-dot {
  transform: scale(1);
}

.bubble__duration {
  font-size: 0.5rem;
  font-weight: 400;
  color: var(--color-transparent-white);
}

.bubble__price {
  margin-left: auto;
  margin-right: 0.5rem;
  font-size: 0.75rem;
  line-height: 0.75rem;
  font-weight: 600;
  color: var(--color-white);
}