.button {
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 9999px;
  transition: background-color 150ms;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.button:focus-visible {
  background-color: transparent;
  outline: 0.0625rem solid var(--color-white);
}

.button--arrow {
  margin-right: 0.125rem;
}

.button--more {
  margin-left: auto;
}

.button--icon {
  width: 1.25rem;
  height: 1.25rem;
}