.gallery {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 8.5rem;
  height: auto;
  margin-bottom: 0.5rem;
}

.gallery__image {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.625rem;
  transition: opacity 150ms;
  cursor: pointer;
}

.gallery__image:hover {
  opacity: 0.6;
}