.header {
  position: relative;
  z-index: 50;
  order: 2;
  width: 100%;
  max-width: 28rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  height: auto;
  text-align: center;
}

.header__title {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--color-very-dark-desaturated-violet);
  margin-bottom: 1.5rem;
}

.header__subtitle {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.75rem;
  color: var(--color-dark-grayish-violet);
}

@media screen and (min-width: 576px) {
  .header {
    padding-left: 0;
    padding-right: 0;
  }
}

@media screen and (min-width: 996px) {
  .header {
    flex: 1 1 0%;
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
}