.phone {
  order: 1;
  position: relative;
  z-index: 50;
  width: 15.5rem;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 4rem;
  background-color: var(--color-white);
  border-radius: 1.75rem;
  padding: 0.625rem;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

.phone__gap {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 8.125rem;
  height: 1.875rem;
  background-color: var(--color-white);
  border-bottom-left-radius: 0.90625rem;
  border-bottom-right-radius: 0.90625rem;
}

.phone__screen {
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
  overflow: hidden;
}

@media screen and (min-width: 996px) {
  .phone {
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 6.75rem;
    margin-right: 7.75rem;
    margin-bottom: 0;
    user-select: none;
  }
}