.user {
  margin-left: 0.5rem;
}

.user__name {
  font-size: 0.6875rem;
  font-weight: 500;
  color: var(--color-white);
}

.user__state {
  font-size: 0.5rem;
  font-weight: 400;
  color: var(--color-white);
  opacity: 0.75;
}