@import "styles/reset.css";

@import "styles/page.css";
@import "styles/header.css";
@import "styles/phone.css";
@import "styles/app.css";
@import "styles/avatar.css";
@import "styles/user.css";
@import "styles/button.css";
@import "styles/form.css";
@import "styles/bubble.css";
@import "styles/gallery.css";

:root {
  --color-pale-violet: hsl(276, 100%, 81%);
  --color-moderate-violet: hsl(276, 55%, 52%);
  --color-desaturated-dark-violet: hsl(271, 15%, 43%);
  --color-grayish-blue: hsl(206, 6%, 79%);
  --color-very-dark-desaturated-violet: hsl(271, 36%, 24%);
  --color-dark-grayish-violet: hsl(270, 7%, 64%);
  --color-light-magenta: hsl(293, 100%, 63%);
  --color-light-violet: hsl(264, 100%, 61%);
  --color-white: hsl(0, 0%, 100%);
  --color-light-grayish-violet: hsl(270, 20%, 96%);
  --color-very-light-magenta: hsl(289, 100%, 72%);

  --color-bubble-from: hsl(272, 41%, 93%);
  --color-chat: hsl(264, 26%, 96%);
  --color-right-shape: hsl(290, 37%, 95%);
  --color-bg: hsl(0, 0%, 98%);
}

@keyframes enterFromLeft {
  from { opacity: 0; transform: translateX(-1rem) scale(0.95); }
  to { opacity: 1; transform: none; }
}

@keyframes enterFromRight {
  from { opacity: 0; transform: translateX(1rem) scale(0.95); }
  to { opacity: 1; transform: none; }
}

@keyframes enterFromTop {
  from { opacity: 0; transform: translateY(-100%); }
  to { opacity: 1; transform: none; }
}

@keyframes enterFromBottom {
  from { opacity: 0; transform: translateY(calc(100% + 10px)); }
  to { opacity: 1; transform: none; }
}

[data-step] {
  animation-duration: 300ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: backwards;
}

[data-step="1"] {
  animation-name: enterFromTop;
}

[data-step="2"],
[data-step="3"],
[data-step="9"],
[data-step="10"],
[data-step="11"] {
  animation-name: enterFromLeft;
}

[data-step="4"],
[data-step="5"],
[data-step="6"],
[data-step="7"],
[data-step="8"] {
  animation-name: enterFromRight;
}

[data-step="12"] {
  animation-name: enterFromBottom;
}

[data-step="1"] { animation-delay: 300ms; }
[data-step="2"] { animation-delay: 600ms; }
[data-step="3"] { animation-delay: 900ms; }
[data-step="4"] { animation-delay: 1200ms; }
[data-step="5"] { animation-delay: 1500ms; }
[data-step="6"] { animation-delay: 1800ms; }
[data-step="7"] { animation-delay: 2100ms; }
[data-step="8"] { animation-delay: 2400ms; }
[data-step="9"] { animation-delay: 2700ms; }
[data-step="10"] { animation-delay: 3000ms; }
[data-step="11"] { animation-delay: 3300ms; }
[data-step="12"] { animation-delay: 3600ms; }